CompileFlags:
  Add: [
    -I/usr/share/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/arm-none-eabi/include,
    --sysroot=/usr/share/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/arm-none-eabi,
    --target=arm-none-eabi,
    -mcpu=cortex-m0plus,
    -mthumb,
    -mfloat-abi=soft
  ]
Diagnostics:
  Suppress: ["unused-includes"]